<h2>Delivery Information</h2>

  <div>
    <%= checkout_form.label :first_name %>
    <%= checkout_form.text_field :first_name %>
  </div>

  <div>
    <%= checkout_form.label :last_name %>
    <%= checkout_form.text_field :last_name %>
  </div>

  <div>
    <%= checkout_form.label :shipping_address %>
    <%= checkout_form.text_field :shipping_address %>
  </div>


  <div>
    <%= checkout_form.label :city %>
    <%= checkout_form.text_field :city %>
  </div>

  <div>
    <%= checkout_form.label :zip_code %>
    <%= checkout_form.text_field :zip_code %>
  </div>

  <div>
    <%= checkout_form.label :email %>
    <%= checkout_form.email_field :email %>
  </div>

  <div>
    <%= checkout_form.label :delivery_method %>
    <%= checkout_form.select :delivery_method, ['Standard Shipping', 'Express Shipping', 'Pickup'] %>
  </div>

  <h2>Payment Information</h2>

  <div>
    <%= checkout_form.label :first_name %>
    <%= checkout_form.text_field :first_name %>
  </div>

  <div>
  <%= checkout_form.label :last_name %>
  <%= checkout_form.text_field :last_name %>
</div>

  <div>
    <%= checkout_form.label :credit_card_number %>
    <%= checkout_form.text_field :credit_card_number %>
  </div>

  <div>
    <%= checkout_form.label :expiration_date %>
    <%= checkout_form.text_field :expiration_date %>
  </div>

  <div>
    <%= checkout_form.label :CVV %>
    <%= checkout_form.text_field :CVV %>
  </div>
  <br>
