
<head>
<%= stylesheet_link_tag 'application' %>
</head>
<body>
  <header>
    <h1>Colgate Off the RAC</h1>
  </header>

<section id="main1" class="container">
  <h2 class="lead">Clothing Available for Purchase</p>
  <%= form_tag products_path, method: :get do %>
    <%= select_tag :sort_by, options_for_select(['Price: Low to High', 'Price: High to Low', 'Size: Small to Large', 'Size: Large to Small', 'Newest'],session[:sort]) %>
    <%= submit_tag 'Sort' %>
  <% end %>

  <%= form_tag products_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search by description" %>
    <%= submit_tag 'Search' %>
    <% if params[:search].present? %>
    <%= link_to 'Clear Search', products_path, class: 'btn btn-secondary' %>
    <% end %>
  <% end %>
  <div class="product-grid">
  <% @products.each do |product| %>
    <div class="product">
      <% if product.photo.attached? %>
        <%= link_to product_path(product) do %>
          <%= image_tag product.photo, class: "img-fluid homepage-image" %>
        <% end %>
      <% else %>
        <%= link_to product_path(product) do %>
          <%= image_tag 'download.png', class: "img-fluid homepage-image" %>
        <% end %>
      <% end %>
      <p><%= product.size %></p>
      <p><%= number_to_currency(product.price) %></p>
    </div>
  <% end %>
</div>
  <br>
  <%= button_to "Add new item", new_product_path, method: :get, class: "btn btn-secondary product-action-btn" %>

  <br>
  <%= link_to 'View Cart', cart_path %>

</section>

</body>