
<section id="main" class="container">
  <h2 class="lead">Clothing Available for Purchase</p>
  <%= form_tag products_path, method: :get do %>
    <%= select_tag :sort_by, options_for_select(['Price: Low to High', 'Price: High to Low', 'Size: Small to Large', 'Size: Large to Small', 'Newest'],session[:sort]) %>
    <%= submit_tag 'Sort' %>
  <% end %>

  <table class="table">
    <% @products.each do |product| %>
      <tr class="product">
      <% if product.photo.attached? %>
        <td>
          <%= link_to product_path(product) do %>
            <%= image_tag product.photo, class: "product-image" %>
           <% end %>
          </td>
        <% else %>
          <td>
          <%= link_to product_path(product) do %>
            <%= image_tag 'download.png', class: "product-image" %>
           <% end %>
          
         </td>
        <% end %>
        <td><%= product.size %>
        <td><%= number_to_currency(product.price) %>
        
      </tr>
    <% end %>
  </table>
  <br>
   <% if user_signed_in? %>
      <%= link_to "Add new item", new_product_path, class: "btn btn-secondary"%>
  <%else %>
      <%= "Sign in to add to clothing available for purchase" %>
  <%end%>
</section>