#<%= @products.inspect %>
<section id="main" class="container">
  <p class="lead">Clothing Available for Purchase</p>
  <table class="table">
    <thead>
    <tr>
        <th>Image</th>
        <th><%= link_to "Size", products_path(sort: "size") %></th>
        <th><%= link_to "Price", products_path(sort: "price") %></th>
    </tr>
    </thead>
    <% @products.each do |product| %>
      <tr class="product">
        <td><img src="<%= product.photo %>"></td>
        <td><%= product.size %>
        <td><%= number_to_currency(product.price) %>
        <td><%= link_to "Like this item? Click here.", product_path(product) %>
      </tr>
    <% end %>
  </table>
  <br>
  <%= link_to "Add new item", new_product_path, class: "btn btn-secondary" %>
</section>