

<h1><%= @product.description %></h1>

<section id="main" class="container">
<div class="left-side">
  <h4 class="lead">Product details </h4>
  <dl>
    <dt>Size
      <dd><%= @product.size %>
    <dt>Condition
      <dd><%= @product.condition %>
    <dt>Brand
      <dd><%= @product.brand %>
    <dt>Price
      <dd><%= number_to_currency(@product.price) %>
    <dt>Original Price
      <dd><%= number_to_currency(@product.original_price) %>
    <dt> Discount 
      <dd> <%=  @product.discount?.to_i %> % off!
    <dt>Seller
      <dd><%= @product.seller %>
  </dl>
</div>
<div class="right-side">
  <% if @product.photo.attached? %>
    <%= image_tag @product.photo, class: "img-fluid product-image" %>
  <% else %>
    <%= image_tag 'download.png', class: "img-fluid product-image" %>
  <% end %>
</div>
</section>


  <div id="buttons-container">
    <%= button_to "Back to products list", products_path, method: :get, class: "btn btn-primary btn-container" %>
    <%= button_to "Delete this product", product_path(@product), method: :delete, class: "btn btn-danger btn-container" %>
    <%= button_to 'Add to Cart', add_to_cart_cart_path(@product), method: :post, class: "btn btn-success btn-container" %>
    <%= link_to 'View Cart', cart_path, class: "btn btn-info btn-container" %>
  </div>
</section>

