<h1>Products#show</h1>

<%= @product.inspect %>
<section id="main" class="container">


  <h4 class="lead">Product details </p>
  <dl>
    <dt>Description
      <dd><%= @product.description %>
    <dt>Size
      <dd><%= @product.size %>
    <dt>Condition
      <dd><%= @product.condition %>
    <dt>Brand
      <dd><%= @product.brand %>
    <dt>Price
      <dd><%= number_to_currency(@product.price) %>
    <dt>Original Price
      <dd><%= number_to_currency(@product.original_price) %>
    <dt> Discount 
      <dd> <%=  @product.discount?.to_i %> % off!
    <dt>Seller
      <dd><%= @product.seller %>
  </dl>

  <%= link_to "Back to products list", products_path, class: "btn btn-primary" %>

</section>