<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag 'application' %>
  <title>ClothingProject</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<nav class="navbar navbar-light bg-light">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger sign-btn", form_class: "nav-link" %>
      <% else %>
        <%= button_to "Sign In", new_user_session_path, class: "btn btn-primary sign-btn", form_class: "nav-link" %>
      <% end %>
    </li>
  </ul>
</nav>


  <section id="flash" class="container">
    <% if flash[:notice] %>
      <div class="alert alert-primary">
        <%= "#{flash[:notice]}" %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-warning">
        <%= "#{flash[:alert]}" %>
      </div>
    <% end %>
  </section>

  <%= yield %>



  
</body>



</html>


